@import url('reset.css');
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
.container {
	width:100%;
	position:relative;
	z-index:100;
	margin:40px auto;
}
.content {
	width:1000px;
	margin:0 auto;
}
h1{
	margin:10px 0 0px 20px;
	font-size:34px;
	color:#000;
	text-shadow:1px 1px 1px #fef7a9;
	text-transform:uppercase;
}
h1 span{
	font-size:18px;
	text-transform:none;
}
.more ul{
	text-transform:uppercase;
	font-size:13px;
	padding:50px 0px 30px 0px;
	height:30px;
	clear:both;
	width:1000px;
	margin:10px auto 0 auto;
	color:#000;
}
.more ul li{
	float:left;
	margin:0px 2px;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	text-shadow:1px 1px 1px #fff;
	color:#555;
	background:#f7f7f7;
	padding:3px 6px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.content{
	width:100%;
	position:relative;
}
/* Footer Style */
.header{
	position:absolute;
	width:100%;
	height:25px;
	line-height:24px;
	top:0;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
