/* Global Reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline; }

strong { font-weight:bold; }

em { font-style:italic; }

/* remember to define focus styles! */
:focus { outline:0; }
ol,ul { list-style:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:separate;border-spacing:0; }
caption,th,td { text-align:left;font-weight:normal; }
blockquote:before,blockquote:after,
q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }


#slider {
	width: 100%;
	overflow: hidden;
	height: 301px;
}
.slider {
	height: 301px;
	width: 100%!important;
}
.slider_content {
	width: 1020px;
	height: 301px;
	margin: 0 auto;
	display: block;
	text-indent: -9999px;
}
#game1 .slider_content {
	background: transparent url('imatges/img1.png');
	width: 100%;
	height: 301px;
}

#game2 .slider_content {
	background: transparent url('imatges/img2.png');
	width: 100%;
	height: 301px;
}

#game3 .slider_content {
	background: transparent url('imatges/img3.png');
	width: 100%;
	height: 301px;
}

#slider_controls {
	width: 958px;
	position: relative;
	margin: 0 auto;
	height: 1px;
}
#slider_controls ul {
	background: transparent url('imatges/nav.png') no-repeat bottom center;
	display:block;
	height:32px;
	position:absolute;
	right:0;
	text-indent:-9999px;
	top:-31px;
	width:164px;
	z-index:9998;
}
#slider_controls li {
	float: left;
	width: 82px;
	height: 32px;
}
#slider_controls li a {
	display: block;
	height: 32px;
}
